<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cordovaplugin.test" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>plugintestforcicd</name><js-module name="plugintestforcicd" src="www/plugintestforcicd.js"><clobbers target="cordova.plugins.plugintestforcicd" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="plugintestforcicd"><param name="android-package" value="com.cordovaplugin.test.plugintestforcicd" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/plugintestforcicd.java" target-dir="src/com/cordovaplugin/test/plugintestforcicd" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="plugintestforcicd"><param name="ios-package" value="plugintestforcicd" /></feature></config-file><source-file src="src/ios/plugintestforcicd.m" /></platform></plugin>